/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * = require evil-icons
 */
@import "bootstrap";
@import "froala_blocks";

body {
  background: url(image-path('froala_bg1.svg')) no-repeat;
  background-size: cover;
}

.login-section {
  height: 100%;
}

a.bg-dark:hover {
  background-color: #343a40 !important;
  color: #99FFFF;
}

/* showing popup background */
a.popup:target { display: block; }

/* showing popup */
a.popup:target + div.popup { display: block; }

/* popup target anchor and background */
a.popup {
  /* background is initially hidden */
  display		: none;
  position	: fixed;
  top		: 0;
  left		: 0;
  z-index		: 3; /* anything, really, but bigger than other elements on the page */
  width		: 100%;
  height		: 100%;
  background	: rgba(0, 0, 0, 0.4);
  cursor		: default;
}

/* popup window */
div.popup {
  /* popup window is initially hidden */
  display 	: none;
  background	: white; /* choose your color; */
  min-width		: 300px; /* width */
  //height		: 480px; /* height */
  position	: fixed;
  top		: 50%;
  left		: 50%;
  margin-left	: -320px; /* = -width / 2 */
  margin-top	: -240px; /* = -height / 2 */
  z-index		: 4; /* z-index of popup backgroung + 1 */

  -webkit-box-sizing : border-box;
  -moz-box-sizing	: border-box;
  -ms-box-sizing	: border-box;
  box-sizing	: border-box;
}

.field_with_errors {
  background-color: #dc3545;
  border-radius: 0.25rem;
  padding: 2px;
}

.underline {
  text-decoration: underline;
}
