<section class="fdb-block login-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-7 col-xl-5 text-left">
        <div class="row">
          <div class="col">
            <h2 class="text-secondary"><%= I18n.t 'step2' %></h2>
            <h1><%= I18n.t 'login.head' %></h1>
            <p class="text-h3"><%= I18n.t 'generator.desc' %></p>
            <label>First Name</label>
            <h3>Host Group:</h3>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
                



