<section class="fdb-block login-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-7 col-xl-5 text-left">
        <div class="row">
          <div class="col">
            <h2 class="text-secondary"><%= I18n.t 'step1' %></h2>
            <h1><%= I18n.t 'login_auth_head' %></h1>
            <p class="text-h3"><%= I18n.t 'login_auth_desc' %></p>
          </div>
        </div>
        <div class="row">
          <div class="col mt-4">
            <input type="text" class="form-control" placeholder="Zabbix DNS-name or IP-address">
          </div>
        </div>
        <div class="row">
          <div class="col mt-4">
            <input type="text" class="form-control" placeholder="Username">
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <input type="password" class="form-control" placeholder="Password">
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <button class="btn" type="button"><%= I18n.t 'submit' %></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
